:root {
  --bg-color-orange: #FFBB28;
  --bg-color-beige: #FFF2DF; 
  --bg-color-blue: #A6D2D0;
  --block-color-gr: #A6D2D0;
  --block-color-ye: #FFBB28;
  --text-color-dark: #072A3A;
  --text-color-light: white;
}


.FeatureSection{
  background-color: var(--bg-color-beige);
}
.AnimatedStepsSection{
  background-color: var(--bg-color-orange);
}
.ProfileSection{
  background-color: var(--bg-color-blue);
}

/*---------------------------------------------------------------------- /
Hero Section{
----------------------------------------------------------------------- */
.HeroSection{
  background-image: "url(image/cover-img.jpg)";
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";
}

/*---------------------------------------------------------------------- /
CARDS
----------------------------------------------------------------------- */

.feature-card {
  display: inline-block;
  text-align: center;
}

.img-container {
  aspect-ratio: 1 / 1;
  width: 90%;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  background-color: #000000;
}


.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #000000;
  font-size: 18px;
}


img {
  object-fit: cover;
  width: 100%;
}
